<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RR Web recording...</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/rrweb@latest/dist/rrweb.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/rrweb@latest/dist/rrweb.min.js"></script>
</head>
<body>

    <div id = "divTakeUser">
        <label for="fname">User Name</label>
        <input type="text" id="userName" name="username" placeholder="username for play record">
        <button type="button" onclick="replayRecord(document.getElementById('userName').value)">Play</button>
    </div>
    
    <script>
        
        let playerString = [];
        let userId = 'msmr1986@gmail.com'
        let fileName = 'events';

        function replayRecord(userName){
            document.getElementById('divTakeUser').style.display = "none";
            userId = userName;
            let arrUserId = userId.split('@');
            fileName = arrUserId[0];
            fetch('http://localhost:8102/read', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({fileName: fileName}),

            }).then((data) => data.json()).then((data) => {
                replayFormatSetter(data);
            }).then(() => {
                replay();
            }).catch(error => console.log('no recording for the user') );
        }

        function replayFormatSetter(argument){
            argument.forEach((entry) => {
                console.log("replayFormatSetter function");
                if(entry[userId] !== undefined){
                    playerString = playerString.concat(entry[userId]);
                }
                    
            });
        }

        function replay(){
            console.log("replay function");
            const replayer = new rrweb.Replayer(playerString);
            replayer.play();
            // the below code is to make new file eventevents.json which can use in rrwebplayer
            fetch('http://localhost:8102/recordevent', {
                method: 'POST',
                headers: {
                'Content-Type': 'application/json',
                },
                body: JSON.stringify({playerString: playerString}),
            });
        }
                
    </script>
</body>
</html>