<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RR Web recording...</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/rrweb@latest/dist/rrweb.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/rrweb@latest/dist/record/rrweb-record.min.js"></script>
</head>
<body>

    <label for="fname">Type some thing to record</label>
    <input type="text" id="fname" name="firstname" placeholder="Your name.."><br />
    
    <script>

        let eventObject = {};
        let events = [];
        let token = localStorage.getItem('token') ? localStorage.getItem('token') : '';
        let userName = 'msmr1986@gmail.com';
        let interval;

        fetch('http://localhost:8102/user', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({token: token}),
        }).then(res => res.json()).then(data => {
            console.log(data[0].email);
            userName = data[0].email;
            if(!localStorage.getItem('eventSender')){
                // save events every 4 seconds  
                interval =  setInterval(save, 4 * 1000);   
            } 
        });

        rrwebRecord({
        emit(event) {
            events.push(event);
        },
        });

        // this variable to set number of time to stop the setInterval
        let setIntervalStopper = 0;

        // this function will send events to the backend and reset the events array
        function save() {
            // once the function called for a number of time stop it
            if(++setIntervalStopper == 5){
                console.log(setIntervalStopper);
                clearInterval(interval);
                // this localstorage key is assigning to get the even only once for a user for a new session
                localStorage.setItem('eventSender', 'done');
            }

            // eventObject = {user_id: 'riswan@tw.com', ['event' + setIntervalStopper]: events};
            eventObject[userName] = events;

            const body = JSON.stringify(eventObject);
            // const body = JSON.parse(JSON.stringify(events));
            events = [];
            fetch('http://localhost:8102/api', {
                method: 'POST',
                headers: {
                'Content-Type': 'application/json',
                },
                body,
            });
        }       
    </script>
</body>
</html>