<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RR Web recording...</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/rrweb@latest/dist/rrweb.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/rrweb-player@latest/dist/style.css" />
    <script src="https://cdn.jsdelivr.net/npm/rrweb@latest/dist/rrweb.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/rrweb-player@latest/dist/index.js"></script>
</head>
<body>

    <div id = "divTakeUser">
        <label for="fname">User Name</label>
        <input type="text" id="userName" name="username" placeholder="username for play record">
        <button type="button" onclick="replayRecord(document.getElementById('userName').value)">Play</button>
    </div>
    <script>
        
        let userId = 'msmr1986@gmail.com'
        let fileName = 'events';

        function replayRecord(userName){
            document.getElementById('divTakeUser').style.display = "none";
            userId = userName;
            let arrUserId = userId.split('@');
            fileName = arrUserId[0];
            fetch('http://localhost:8102/read', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({fileName: fileName})
            }).then((data) => data.json()).then((data) => {
                return replayFormatSetter(data);
            }).then((playerData) => {
                replay(playerData);
            }).catch(error => console.log(error) );
        }

        function replayFormatSetter(argument){
            let playerString = [];
            argument.forEach((entry) => {
                console.log("replayFormatSetter function");
                if(entry[userId] !== undefined){
                    playerString = playerString.concat(entry[userId]);
                }
            });  
            return  playerString;
        }

        // in the replay function the data property should named events
        function replay(events){ 
            const component = new rrwebPlayer({
                target: document.body,
                data: {
                    events,
                },
            });
            component.addEventListener('finish', () => console.log('finish'));
        }
                
    </script>
</body>
</html>